@{
    ViewData["Title"] = "Contact Page";
}
<div class="container mt-5">
    <div class="card shadow p-4 text-center">
        <h1 class="mb-4 text-primary">Contact Me!</h1>
        <p class="lead mb-4">Connect with me through my social media or email below.</p>

        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a href="https://media.tenor.com/q0Ejci9EQhcAAAAi/rick-astley-rick-roll.gif" target="_blank" class="btn btn-primary">
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a href="https://media.tenor.com/q0Ejci9EQhcAAAAi/rick-astley-rick-roll.gif" target="_blank" class="btn btn-danger">
                <i class="bi bi-instagram"></i> Instagram
            </a>
            <a href="https://github.com/IwanttodieXD" target="_blank" class="btn btn-dark">
                <i class="bi bi-github"></i> GitHub
            </a>
        </div>

        <hr class="my-4">

        <p class="mb-0">
            <strong>Email:</strong>
            <p class="text-decoration-none">
            emailkopoto@gmail.com
            </p>
        </p>
    </div>
</div>

